name: Carade CI

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'pom.xml'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'pom.xml'

jobs:
  test:
    name: Java CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - run: mvn clean compile
      - run: mvn test
      - name: Start Server
        # Why are we removing *.aof files here?
        # In this step, we removed `carade.aof` (created via tests), 
        # which very likely will corrupt the server startup.
        run: |
          rm -rf *.aof 
          mvn exec:java > carade.log 2>&1 &
          echo $! > server.pid
      - name: Wait for Server
        run: |
          attempt=0
          until nc -z localhost 63790 || [ $attempt -eq 15 ]; do
            sleep 1
            attempt=$((attempt + 1))
          done
      - name: Run Tests
        run: |
          python3 tools/ping.py
      - name: Run Rust Benchmark
        run: |
          cd tools/rust-benchmarks
          cargo run --release -- --clients 20 --requests 2000

      - name: View Log on Failure
        if: failure()
        run: cat carade.log 

      - name: Cleanup
        if: always()
        run: |
          [ -f server.pid ] && kill $(cat server.pid)

  docker-test:
    name: Docker CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker build -t carade .
      - name: Run
        run: docker run -d -p 63790:63790 --name carade-server carade
      - name: Wait
        run: |
          attempt=0
          until nc -z localhost 63790 || [ $attempt -eq 15 ]; do
            sleep 1
            attempt=$((attempt + 1))
          done
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Run Tests
        run: |
          python3 tools/ping.py
      - name: Run Rust Benchmark
        run: |
          cd tools/rust-benchmarks
          cargo run --release -- --clients 20 --requests 2000
      - name: Logs on Failure
        if: failure()
        run: docker logs carade-server